body {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Bebas Neue', cursive;
}
.round {
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: 50%;
  margin-left: 50px;
  margin-top: 20px;
  max-width: 14vw;
  max-height: 14vw;
}

nav{
  margin-right: 5%;
}

nav>a {
  display: inline-flex;
  color: black;
  height: 75px;
  margin: 10px;
  padding: 10px;
  font-size: 2vw;
}

/* BODY */
.aboutsection, .projectsection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* border: solid black 2px; */
  margin: 1% 0;
}

.aboutsection>h2, .aboutcontent, .projectsection>h2{
  display: flex;
  flex-wrap: wrap;
  /* border: solid black 2px; */
  max-width: 90%;
  margin: 1% 0;
  font-size: 25px;
  font-family: 'Bebas Neue', cursive;
}

/* .projectsection>h2 {
  /* border: solid black 2px; */
  /* font-size: 25px;
  font-family: 'Bebas Neue', cursive;
} */ 

.projectcontent {
  display: flex;
  flex-wrap: wrap;
  /* border: solid rgb(194, 26, 26) 2px; */
  margin: 1% 0;
  font-size: 25px;
  font-family: 'Bebas Neue', cursive;
  justify-content: space-between;
}

.projectlink {
  /* border: solid blue 2px; */
  text-align: center;
  width: 200px;
  height: 200px;
}

h3 {
  padding: 25%;
}

@media screen and (max-width: 768px) {
  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  .flex-item:first-child {
    min-height: 150px;
  }

  .hero-banner {
    justify-content: center;
    text-align: center;
  }

  .contact address {
    flex-direction: column;
    align-items: flex-start;
  }
}
