@font-face {
  font-family: HELLOISFONT;
  src: url(./horroroidexpand.ttf);
}

body {
  font-family: HELLOISFONT, monospace; 
  font-size: 30px;
  background-image: url(./../images/Untitled-design-21.webp), url(./../images/Jujutsu-Kaisen-Chapter-168-1.jpg), url(./../images/1573f1ece244f75cfd98c8ba27f08feb.png);
  background-repeat: no-repeat, no-repeat;
  background-position:top left, bottom right, bottom left;
  
}

/* HEADER */
header {
  background-color: rgba(209, 209, 209, 0.8);
  background-size: 99%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.round {
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: 50%;
  margin-top: 20px;
  max-width: 14vw;
  max-height: 14vw;
  align-self: center;
  border: double black 8px;
}

.shown {
  z-index: 1;
  position: relative;
}
.hidden {
  position:absolute;
}

.shown:hover {
  z-index:-1;
}

nav{
  background-color: rgba(209, 209, 209, 0.85);
  border: double black 5px;
  margin-top: 10px;
}

nav>a {
  display: inline-flex;
  font-size: 1.8vmax;
  padding: 10px;
}

/* BODY */
.aboutsection, .projectsection, .contactsection, .resumesection {
  background-color: rgba(209, 209, 209, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1% 0;
}

.aboutsection>h2, .aboutcontent, .projectsection>h2, .contactsection>h2, .contactcontent, .resumecontent, .resumesection>h2{
  display: flex;
  flex-wrap: wrap;
  /* max-width: 99%; */
  margin: 1% 0;
  font-size: 25px;
  align-items:center;
}
.projectcontent, .contactcontent, .aboutcontent{
  display: flex;
  flex-wrap: wrap;
  border: double black 5px;
  margin: 1% 0;
  font-size: 25px;
  justify-content:space-evenly;
  width: 99%;
}

.projectlink {
  border: solid rgb(0, 0, 0) 5px;
  text-align: center;
  width: 166px;
  height: 100px;
  margin: 10px;
}
.contactlink  {
  text-align: center;
  width: 166px;
  height: 25px;
  margin: 10px;
}

.projectlink h3 {
  padding: 25% 0;
}

.contactlink h3 {
  padding: 2% 0;
}

#project1 {
  background-image: url(./../images/Nagi_Yoshino.webp);
  background-color: rgba(209, 209, 209, 0.7);
  background-blend-mode: soft-light;
  background-size:contain ;
  background-repeat: no-repeat;
  

}

#project2 {
  background-image: url(./../images/Kirara_Hoshi_junior_high_sketch.webp);
  background-color: rgba(209, 209, 209, 0.7);
  background-blend-mode: soft-light;
  background-size:contain ;
  background-repeat: no-repeat;
}

#project3 {
  background-image: url(./../images/Utahime_Iori.webp);
  background-color: rgba(209, 209, 209, 0.7);
  background-blend-mode: soft-light;
  background-size:contain ;
  background-repeat: no-repeat;
}

#project4 {
  background-image: url(./../images/Hiromi_Higuruma.webp);
  background-color: rgba(209, 209, 209, 0.7);
  background-blend-mode: soft-light;
  background-size:contain ;
  background-repeat: no-repeat;
}

#project1:hover, #project2:hover, #project3:hover, #project4:hover {
  background-color: rgba(209, 209, 209, 0);
  width: 249px;
  height: 150px;
}

.contactlink:hover, nav>a:hover {
  font-size: 150%;
}

@media screen and (max-width: 768px) {
  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  .flex-item:first-child {
    min-height: 150px;
  }

  .hero-banner {
    justify-content: center;
    text-align: center;
  }

  .contact address {
    flex-direction: column;
    align-items: flex-start;
  }
}
